<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foryou.tax.invoiceprovider.dao.attachment.FyAttachmentInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.foryou.tax.invoiceapi.pojo.attachment.FyAttachmentInfo">
        <id column="RECORD_ID" property="recordId" />
        <result column="TABLE_NAME" property="tableName" />
        <result column="TABLE_PK_VALUE" property="tablePkValue" />
        <result column="ATTACHMENT_ID" property="attachmentId" />
        <result column="CREATED_BY" property="createdBy" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATED_BY" property="updatedBy" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        RECORD_ID, TABLE_NAME, TABLE_PK_VALUE, ATTACHMENT_ID, CREATED_BY, CREATE_TIME, UPDATED_BY, UPDATE_TIME
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from FY_ATTACHMENT_INFO
        where RECORD_ID = #{recordId,jdbcType=INTEGER}
    </select>
    <insert id="insertSelective" parameterType="com.foryou.tax.invoiceapi.pojo.attachment.FyAttachmentInfo" >
        insert into FY_ATTACHMENT_INFO
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="recordId != null" >
                RECORD_ID,
            </if>
            <if test="tableName != null" >
                TABLE_NAME,
            </if>
            <if test="tablePkValue != null" >
                TABLE_PK_VALUE,
            </if>
            <if test="attachmentId != null" >
                ATTACHMENT_ID,
            </if>
            <if test="createdBy != null" >
                CREATED_BY,
            </if>
            <if test="createTime != null" >
                CREATE_TIME,
            </if>
            <if test="updatedBy != null" >
                UPDATED_BY,
            </if>
            <if test="updateTime != null" >
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="recordId != null" >
                #{recordId,jdbcType=INTEGER},
            </if>
            <if test="tableName != null" >
                #{tableName,jdbcType=VARCHAR},
            </if>
            <if test="tablePkValue != null" >
                #{tablePkValue,jdbcType=INTEGER},
            </if>
            <if test="attachmentId != null" >
                #{attachmentId,jdbcType=INTEGER},
            </if>
            <if test="createdBy != null" >
                #{createdBy,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null" >
                #{updatedBy,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.foryou.tax.invoiceapi.pojo.attachment.FyAttachmentInfo" >
        update FY_ATTACHMENT_INFO
        <set >
            <if test="tableName != null" >
                TABLE_NAME = #{tableName,jdbcType=VARCHAR},
            </if>
            <if test="tablePkValue != null" >
                TABLE_PK_VALUE = #{tablePkValue,jdbcType=INTEGER},
            </if>
            <if test="attachmentId != null" >
                ATTACHMENT_ID = #{attachmentId,jdbcType=INTEGER},
            </if>
            <if test="createdBy != null" >
                CREATED_BY = #{createdBy,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null" >
                UPDATED_BY = #{updatedBy,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null" >
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where RECORD_ID = #{recordId,jdbcType=INTEGER}
    </update>
    <select id="selectByTablePkValue" resultMap="BaseResultMap" parameterType="com.foryou.tax.invoiceapi.pojo.attachment.FyAttachmentInfo">
        select
        <include refid="Base_Column_List" />
        from FY_ATTACHMENT_INFO
        where TABLE_PK_VALUE = #{tablePkValue,jdbcType=INTEGER}
    </select>

</mapper>
