<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Invoice</title>

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/style-responsive.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="/static/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/style-responsive.css" rel="stylesheet">
  <!-- blueimp Gallery styles -->
  <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
  <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
  <link rel="stylesheet" href="/static/lib/file-uploader/css/jquery.fileupload.css">
  <link rel="stylesheet" href="/static/lib/file-uploader/css/jquery.fileupload-ui.css">
  <!-- CSS adjustments for browsers with JavaScript disabled -->
  <noscript>
    <link rel="stylesheet" href="/static/lib/file-uploader/css/jquery.fileupload-noscript.css">
  </noscript>
  <noscript>
    <link rel="stylesheet" href="/static/lib/file-uploader/css/jquery.fileupload-ui-noscript.css">
  </noscript>

</head>

<body>
<section id="container">
  <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
  <!--header start-->
  <header class="header black-bg">
    <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <a href="../user/index.html" class="logo"><b>DASH<span>IO</span></b></a>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
      <!--  notification start -->
      <ul class="nav top-menu">
        <!-- settings start -->
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
            <i class="fa fa-tasks"></i>
          </a>
        </li>
        <!-- settings end -->
        <!-- inbox dropdown start-->
        <li id="header_inbox_bar" class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
            <i class="fa fa-envelope-o"></i>
          </a>
        </li>
        <!-- inbox dropdown end -->
        <!-- notification dropdown start-->
        <li id="header_notification_bar" class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
            <i class="fa fa-bell-o"></i>
          </a>
        </li>
        <!-- notification dropdown end -->
      </ul>
      <!--  notification end -->
    </div>
    <div class="top-menu">
      <ul class="nav pull-right top-menu">
        <li><a class="logout" href="login.html">Logout</a></li>
      </ul>
    </div>
  </header>
  <!--header end-->
  <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
  <!--sidebar start-->
  <aside>
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered"><a href="../user/profile.html"><img src="/static/img/ui-sam.jpg" class="/static/img-circle" width="80"></a></p>
        <h5 class="centered">Sam Soffes</h5>
        <li class="sub-menu">
          <a class="active" href="javascript:">
            <i class="fa fa-tasks"></i>
            <span>税务周报</span>
          </a>
<!--          <ul class="sub">-->
<!--            <li class="active"><a href="weekly_index.html">Advanced Components</a></li>-->
<!--          </ul>-->
        </li>
      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->
  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <h3><i class="fa fa-angle-right"></i> Tax Invoice </h3>
      <!--ADVANCED FILE INPUT-->
      <div class="showback row mt">
        <div class="col-lg-12">

          <div class="form-group">
            <label class="control-label col-md-3">纸质发票明细</label>
            <div class="controls col-md-9">

              <form id="paperFileupload" enctype="multipart/form-data" action="/paperInvoice/importFile" method="post">
                <div class="row fileupload-buttonbar">
                  <div class="col-lg-8">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success fileinput-button">
                      <i class="glyphicon glyphicon-plus"></i>
                      <span>Add files...</span>
                      <input name="paperFile" id="paperFile" type="file"/>
                    </span>
                    <button class="btn btn-theme start" onclick="savePaperClick()" type="submit">
                      <i class="glyphicon glyphicon-upload"></i>
                      <span>Start upload</span>
                    </button>
                    <button type="reset" class="btn btn-theme02 cancel">
                      <i class="glyphicon glyphicon-ban-circle"></i>
                      <span>Cancel upload</span>
                    </button>
                    <!-- The global file processing state -->
                    <span class="fileupload-process"></span>
                  </div>
                </div>
              </form>

            </div>
          </div>

          <div class="form-group last">
            <label class="control-label col-md-3">电子发票明细</label>
            <div class="col-md-9">

              <form id="eleFileupload" enctype="multipart/form-data" method="post" action="/eleInvoice/importFile">
                <div class="row fileupload-buttonbar">
                  <div class="col-lg-8">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success fileinput-button">
                      <i class="glyphicon glyphicon-plus"></i>
                      <span>Add files...</span>
                      <input name="eleUploadFile" id="eleUploadFile" type="file"/>
                    </span>
                    <button class="btn btn-theme start" onclick="saveEleClick()" type="submit">
                      <i class="glyphicon glyphicon-upload"></i>
                      <span>Start upload</span>
                    </button>
                    <button type="reset" class="btn btn-theme02 cancel">
                      <i class="glyphicon glyphicon-ban-circle"></i>
                      <span>Cancel upload</span>
                    </button>
                    <!-- The global file processing state -->
                    <span class="fileupload-process"></span>
                  </div>
                </div>
              </form>

            </div>
          </div>

          <!-- /form-panel -->
        </div>

        <!-- /col-lg-12 -->
      </div>
      <!-- row -->
    </section>
    <div class="showback">
      <h4><i class="fa fa-angle-right"></i> Weekly </h4>
      <p>
        <button type="button" class="btn btn-primary btn-lg" onclick="invoiceMergeClick()">Invoice Merge</button>
        <button type="button" class="btn btn-primary btn-lg" onclick="weeklyExportExcelClick()">Weekly Export Excel</button>
      </p>
    </div>
    <!-- /wrapper -->
  </section>
  <!-- /MAIN CONTENT -->
  <!--main content end-->
</section>
<!-- js placed at the end of the document so the pages load faster -->
<!--<script src="/static/lib/jquery/jquery.min.js"></script>-->
<!--<script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>-->
<script class="include" type="text/javascript" src="/static/lib/jquery.dcjqaccordion.2.7.js"></script>
<script src="/static/lib/jquery.scrollTo.min.js"></script>
<script src="/static/lib/jquery.nicescroll.js" type="text/javascript"></script>
<!--common script for all pages-->
<script src="/static/lib/common-scripts.js"></script>
<!--script for this page-->
<script src="/static/lib/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="/static/lib/bootstrap-fileupload/bootstrap-fileupload.js"></script>
<script type="text/javascript" src="/static/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/static/lib/bootstrap-daterangepicker/date.js"></script>
<script type="text/javascript" src="/static/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="/static/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/static/lib/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="/static/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<script type="text/javascript" src="/static/lib/advanced-form-components.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.form.js"></script>
<script type="text/javascript" src="/static/js/jquery.blockUI.js"></script>

  <script>

    function savePaperClick(){
      $.blockUI({ css: {
          border: 'none',
          padding: '15px',
          backgroundColor: '#000',
          '-webkit-border-radius': '10px',
          '-moz-border-radius': '10px',
          opacity: .5,
          color: '#fff'
        } });

      var fileName = $("#paperFile").val();
      var fd = new FormData($("#paperFileupload")[0]);
      if (fileName.length != 0) {
        var fileType = fileName.substr(fileName.lastIndexOf("."));
        if (fileType != '.xls' && fileType != '.xlsx') {
          alert('请选择正确的导入文件!');
          backView();
        } else {
          //第一种写法
          // $.ajax({
          //   type: 'POST', // HTTP请求方式
          //   enctype: 'multipart/form-data',
          //   url: '/paperInvoice/importFile', // 请求的URL地址
          //   dataType: 'text', // 服务器返回数据转换成的类型
          //   data: fd,
          //   processData: false, //prevent jQuery from automatically transforming the data into a query string
          //   contentType: false,
          //   cache: false,
          //   timeout: 600000,
          //   success: function (data) {
          //     alert(data);
          //     backView();
          //   },
          //   error: function (data) {
          //     alert('oh,似乎出现点问题了！');
          //     backView();
          //   }
          // });

          //第二种写法，这种比较好，可以传大容量的excel
          $('#paperFileupload').ajaxForm(function(data){
            alert(data.success.successDesc.message);
            $.unblockUI(); //解屏
            backView();
          });
        }
      }else{
        alert('请先选择上传文件！');
        $.unblockUI(); //解屏
        backView();
      }
    }

    function saveEleClick(){
      $.blockUI({ css: {
          border: 'none',
          padding: '15px',
          backgroundColor: '#000',
          '-webkit-border-radius': '10px',
          '-moz-border-radius': '10px',
          opacity: .5,
          color: '#fff'
        } });

      var fileName = $("#eleUploadFile").val();
      var fd = new FormData($("#eleFileupload")[0]);
      if (fileName.length != 0) {
        debugger;
        var fileType = fileName.substr(fileName.lastIndexOf("."));
        if (fileType != '.xls' && fileType != '.xlsx') {
          alert('请选择正确的导入文件!');
          backView();
        } else {
          //第一种写法
          // $.ajax({
          //   type: 'POST', // HTTP请求方式
          //   enctype: 'multipart/form-data',
          //   url: '/eleInvoice/importFile', // 请求的URL地址
          //   dataType: 'text', // 服务器返回数据转换成的类型
          //   data: fd,
          //   processData: false, //prevent jQuery from automatically transforming the data into a query string
          //   contentType: false,
          //   cache: false,
          //   timeout: 600000,
          //   success: function (data) {
          //     alert("上传成功！");
          //     backView();
          //   },
          //   error: function (data) {
          //     alert('oh,似乎出现点问题了！');
          //     backView();
          //   }
          // });

          //第二种写法，这种比较好，可以传大容量的excel
          $('#eleFileupload').ajaxForm(function(data){
            alert(data.success.successDesc.message);
            $.unblockUI(); //解屏
            backView();
          });
        }
      }else{
        alert('请先选择上传文件！');
        $.unblockUI(); //解屏
        backView();
      }
    }

    function invoiceMergeClick(){
      $.blockUI({ css: {
          border: 'none',
          padding: '15px',
          backgroundColor: '#000',
          '-webkit-border-radius': '10px',
          '-moz-border-radius': '10px',
          opacity: .5,
          color: '#fff'
        } });

      $.ajax({
        type: 'POST', // HTTP请求方式
        enctype: 'multipart/form-data',
        url: '/weekly/invoiceMerge', // 请求的URL地址
        dataType: 'text', // 服务器返回数据转换成的类型
        processData: false, //prevent jQuery from automatically transforming the data into a query string
        contentType: false,
        cache: false,
        timeout: 6000000000,
        success: function (data) {
          alert("金税系统的开票数据和融资资料系统的开票数据对比成功！");
          $.unblockUI(); //解屏
          backView();
        },
        error: function (data) {
          alert('oh,似乎出现点问题了！');
          $.unblockUI(); //解屏
          backView();
        }
      });

    }

    // 导出，使用这种方式 可以，使用 ajax请求不可以 导出excel
    function weeklyExportExcelClick(){
      debugger;
      var form = $("<form>");
      form.attr('style', 'display:none');
      form.attr('target', '');
      form.attr('method', 'post');
      form.attr('action', '/weekly/exportAllExcel');

      var input1 = $('<input>');
      input1.attr('type', 'hidden');
      input1.attr('name', 'item');
      input1.attr('value', 'test');      /* JSON.stringify($.serializeObject($('#searchForm'))) */

      $('body').append(form);
      form.append(input1);

      form.submit();
      form.remove();
    }

    function backView() {
      location.href = '/weeklyIndex';
    }
  </script>
</body>
</html>
